<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TradeInGurus.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>841E41831F517B64008CC41B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8462CA8C1FE39FCE00BDD06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8462CAA21FE3DBF200BDD06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
